body {
    font-family:inherit;
    font-size:20px;
    margin: 0;
    padding: 0;
    background-size:cover;
}
.example {
  position: static;
  }
.example a {/*aタグを画像の真ん中に*/
  position: absolute;
  top: 60%;
  left: 30%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  /*以下装飾*/
  margin:0;/*余計な隙間を除く*/
  font-size: 60px;/*文字サイズ*/
  border: solid white 6px; /*線で囲う*/
  padding: 21px;/*文字と線の間の余白*/
  color: white;/*文字色*/
  text-decoration: none;/*下線を表示させない*/
  }

.example a:hover{/*カーソルを当てたとき*/
  background: rgba(255,255,255,0.3);/*背景を半透明に*/
  }

.example img {
  width: 100%;
  }
.example1 {
  position: static;
  }
.example1 a {/*aタグを画像の真ん中に*/
  position: absolute;
  top: 60%;
  left: 65%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  /*以下装飾*/
  margin:0;/*余計な隙間を除く*/
  font-size: 60px;/*文字サイズ*/
  border: solid white 6px; /*線で囲う*/
  padding: 21px;/*文字と線の間の余白*/
  color: white;/*文字色*/
  text-decoration: none;/*下線を表示させない*/
  }

.example1 a:hover{/*カーソルを当てたとき*/
  background: rgba(255, 255, 255, 0.3);/*背景を半透明に*/
  }

.example1 img {
  width: 100%;
  }
.btn {
  position: absolute;
  top: 8%;
  left: 90%;
 border-radius: 5px;
 background-color: blueviolet;
 padding: 10px;
 text-decoration: none;
 color: white;
}

.btn:hover {
  background-color: #6a0dad;
}