.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 5px;
    background-color: #fff;
}

.container {
    max-width: 1200px; /* PCやタブレットでのコンテナ最大幅 */
    width: 100%;
    background-color: #ffffff00;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.image-section,
.additional-image:first-of-type {
    display: block;
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 0 auto 20px;
}

.additional-image {
    display: block;
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 20px auto;
}

.content-section {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    text-align: left;
}

.text {
    margin-bottom: 20px;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* スマートフォン向けのスタイル */
@media (max-width: 768px) {
    .container {
        max-width: 95%; /* スマートフォン画面全体の95%を占める */
        padding: 15px;
    }

    .title {
        font-size: 1.5rem;
    }

    .image-section,
    .additional-image {
        max-width: 100%; /* スマートフォンでは画像が画面いっぱいに表示 */
    }
}
