<!-- templates/login.html -->
<!DOCTYPE html>
<html>
<body>
    <h2>Login</h2>
    <form method="post" action="/add">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <label for="password2">Passwordの確認:</label>
        <input type="password2" id="password2" name="password2" required><br>
        <input type="submit" value="新規登録">
    </form>
</body>
</html>