<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>bingo</title>
<!-- <link rel="stylesheet" href="/static/css/bingo.css"> -->
</head>
<body>
<div id="headline">
<h1>ビンゴ</h1>
<table border="1">
<tr>
    <td>{{bingo_list[0][0]}}</td>
    <td>{{bingo_list[0][1]}}</td>
    <td>{{bingo_list[0][2]}}</td>
</tr>
<tr>
    <td>{{bingo_list[1][0]}}</td>
    <td>{{bingo_list[1][1]}}</td>
    <td>{{bingo_list[1][2]}}</td>
</tr>
<tr>
    <td>{{bingo_list[2][0]}}</td>
    <td>{{bingo_list[2][1]}}</td>
    <td>{{bingo_list[2][2]}}</td>
</tr>
</table>
</div>
<div class="main">
<p>
<a href="/index.html">景品交換</a>
</p>
</div>
</body>
</html>