<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>CSS練習</title>
  <link rel="stylesheet" href="/static/css/index.css">
  <script src="index.js"></script>
</head>
<body>
  <div id="headline">
  <h1>CSS入門</h1>
  <p>これは段落です。</p>
  </div>
  <div class="main">
  <h2>これは見出しです。</h2>
  <p>これは<span class="light">例</span>です。</p>
  <video id="video" width="640" height="480" autoplay></video>
  <script>
  var video = document.getElementById('video');
  if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
  navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
      video.srcObject = stream;
      video.play();
  });
  }
  </script>
  <p>
  <a href="https://saruwakakun.com/">ホームへ</a>
  戻ります。</p>
  </div>
</body>
</html>

