{% extends "base.html" %}

{% block title %}ビンゴスポット{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/spot.css">
<div class="main">
    <div class="container">
        <div class="title">日野宿本陣</div>

    <img class="image-section" src="https://via.placeholder.com/395x248" alt="Main Image">

    <div class="content-section">
        <p class="text">
            日野宿本陣は、江戸時代に大名や要人が宿泊した歴史的な建物で、今もその壮大な風格を感じられる貴重なスポットです。新撰組隊士たちも足を踏み入れた場所として知られ、当時の豪華な暮らしぶりや日野の歴史を学ぶことができます。美しい庭園と共に、江戸の風情を味わえる歴史探訪の絶好の場所です。
            <br><br>
            <strong>営業時間</strong><br>
            9:30～17:00
            <br><br>
            <strong>休館日</strong><br>
            毎週　月曜日
            <br><br>
            <strong>TEL</strong><br>
            042-583-5100
            <br><br>
            <strong>交通案内</strong><br>
            JR中央線日野駅より徒歩　約10分<br>
            <a href="https://www.city.hino.lg.jp/shisei/profile/kokusai/note/nikki/1002355.html" target="_blank" rel="noopener noreferrer">日野市公式ホームページはこちら</a>        </p>
    </div>
</div>
{% endblock %}

