{% extends "base.html" %}

{% block title %}ビンゴスポット{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/spot.css">
<div class="main">
    <div class="container">
        <div class="title">宝泉寺</div>

        <img class="additional-image" src="/static/images/image1.png" alt="Additional Image">

        <div class="content-section">
            
            <p class="text">
                日野市の宝泉寺は、新選組六番隊組長・井上源三郎の菩提寺として知られ、静かな境内で彼の生涯に思いを馳せることができる歴史的な場所です。新選組ファンにとっては聖地とも言えるこの寺院は、幕末の志士たちの軌跡を追う旅にふさわしいスポットとなっています。
                <br><br>
                <strong>営業時間</strong><br>
                参拝　8:30~16:00
                <br><br>
                <strong>休館日</strong><br>
                <br><br>
                <strong>QRコード設置場所</strong><br>
                <img class="additional-image" src="/static/images/QRspot_1.png" alt="Additional Image">
                <br><br>
                <strong>TEL</strong><br>
                042-581-1926
                <br><br>
                <strong>交通案内</strong><br>
                JR中央線日野駅より徒歩　約5分<br>
            </p>
        </div>        
    </div>
</div>
{% endblock %}
