{% extends "base.html" %}

{% block title %}ビンゴスポット{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/spot.css">
<div class="main">
    <div class="container">
        <div class="title">新選組ふるさと資料館</div>

        <img class="additional-image" src="/static/images/image5.png" alt="Additional Image">

        <div class="content-section">
            <p class="text">
                新選組ふるさと歴史館は、新選組の魅力を間近で感じられる場所で、隊士たちの貴重な資料や武具が展示されています。新選組の発祥地・日野で、歴史のロマンに触れることができます。
                <br><br>
                <strong>お役立ち情報</strong>
                歴史観を観覧していただき、このウェブページをスタッフにお見せいただくと、特別なステッカーを受け取ることができます。下部の画像
                <br><br>
                <strong>営業時間</strong><br>
                9:30～17:00
                <br><br>
                <strong>休館日</strong><br>
                毎週　月曜日（11月4日開館　11月5日休館）
                <br><br>
                <strong>QRコード設置場所</strong><br>
                <img class="additional-image" src="/static/images/QRspot_5.png" alt="QR Code Spot">
                <br><br>
                <strong>TEL</strong><br>
                042-583-5100
                <br><br>
                <strong>交通案内</strong><br>
                JR中央線日野駅より徒歩 約15分<br>
                <a href="https://www.city.hino.lg.jp/shinsenr/" target="_blank" rel="noopener noreferrer">日野市公式ホームページはこちら</a>
            </p>
        </div>

        <!-- New section for sticker images -->
        <div class="sticker-section">
            <h3>特別ステッカー</h3>
            <p>スタッフの方にタマビンゴのページをお見せていただくと新選組のステッカーがもらえます。</p>
            <div class="sticker-images">
                <img src="/static/images/sheel_1.jpg" alt="Sticker 1" class="sticker-image">
                <img src="/static/images/sheel_2.jpg" alt="Sticker 2" class="sticker-image">
                <img src="/static/images/sheel_3.jpg" alt="Sticker 3" class="sticker-image">
            </div>
        </div>
    </div>
</div>
{% endblock %}
