{% extends "base.html" %}

{% block title %}ビンゴスポット{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/spot.css">
<div class="main">
    <div class="container">
        <div class="title">新撰組ふるさと資料館</div>

        <img class="image-section" src="https://via.placeholder.com/395x248" alt="Main Image">

        <div class="content-section">
            <p class="text">
                新撰組ふるさと歴史館は、新撰組の魅力を間近で感じられる場所で、隊士たちの貴重な資料や武具が展示されています。新撰組の発祥地・日野で、歴史のロマンに触れることができます。
                <br><br>
                <strong>営業時間</strong><br>
                9:30～17:00
                <br><br>
                <strong>休館日</strong><br>
                毎週　月曜日
                <br><br>
                <strong>TEL</strong><br>
                042-583-5100
                <br><br>
                <strong>交通案内</strong><br>
                JR中央線日野駅より徒歩 約15分<br>
                <a href="https://www.city.hino.lg.jp/shinsenr/" target="_blank" rel="noopener noreferrer">日野市公式ホームページはこちら</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
