{% extends "base.html" %}

{% block title %}ビンゴスポット{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/spot.css">
<div class="main">
    <div class="container">
        <div class="title">日野宿交流館</div>

        <img class="additional-image" src="/static/images/image8.png" alt="Additional Image">

        <div class="content-section">
            <p class="text">
                日野宿交流館は、江戸時代の宿場町・日野宿の歴史と文化を感じながら、現代の地域交流も楽しめるスポットです。かつての街道の雰囲気を再現しながら、展示やイベントを通じて日野の魅力を発信しています。歴史探訪だけでなく、地域の人々との触れ合いも楽しめる、昔と今が交わる魅力的な場所です。
                <br><br>
                <strong>営業時間</strong><br>
                9:00～17:00
                <br><br>
                <strong>休館日</strong><br>
                毎週　月曜日（11月4日開館　11月5日休館）
                <br><br>
                <strong>QRコード設置場所</strong><br>
                <img class="additional-image" src="/static/images/QRspot_8.png" alt="Additional Image">
                <br><br>
                <strong>TEL</strong><br>
                042-585-9072
                <br><br>
                <strong>交通案内</strong><br>
                JR中央線日野駅より徒歩　約10分<br>
                <a href="https://www.city.hino.lg.jp/shisei/profile/kokusai/note/nikki/1002355.html" target="_blank" rel="noopener noreferrer">日野市公式ホームページはこちら</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
