{% extends "base.html" %}

{% block title %}ビンゴスポット{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/spot.css">
<div class="main">
    <div class="container">
        <div class="title">佐藤彦五郎資料館</div>

        <img class="additional-image" src="/static/images/image6.png" alt="Additional Image">

        <div class="content-section">
            <p class="text">
                佐藤彦五郎資料館は、新選組の初代局長・近藤勇を支えた名士、佐藤彦五郎の足跡をたどることができる貴重な資料館です。新選組結成に深く関わった彦五郎の自宅跡に建てられており、当時の貴重な資料や遺品を通じて、幕末の激動と新選組の裏側に触れることができます。歴史好きにはたまらないスポットです。
                <br><br>
                <strong>営業時間</strong><br>
                11:00~16:00
                <br><br>
                <strong>休館日</strong><br>
                不定期　公式サイトにて記載
                <br><br>
                <strong>QRコード設置場所</strong><br>
                <img class="additional-image" src="/static/images/QRspot_6.png" alt="Additional Image">
                <br><br>
                <strong>TEL</strong><br>
                
                <br><br>
                <strong>交通案内</strong><br>
                JR中央線日野駅より徒歩　約８分<br>
                <a href="https://sato-hikogorou.jimdofree.com/" target="_blank" rel="noopener noreferrer">ホームページはこちら</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
