{% extends "base.html" %}

{% block title %}ビンゴスポット{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/spot.css">
<div class="main">
    <div class="container">
        <div class="title">大昌寺</div>

        <img class="image-section" src="https://via.placeholder.com/395x248" alt="Main Image">

        <div class="content-section">
            <p class="text">
                日野の大昌寺は、新撰組副長・土方歳三の菩提寺として知られる歴史ある寺院です。境内には土方家の墓や資料があり、彼の生涯や新撰組との深い関わりを感じることができます。幕末の志士たちに思いを馳せながら、静かに歴史を感じられる心落ち着くスポットです。
                <br><br>
                <strong>営業時間</strong><br>
                9:00～17:00
                <br><br>
                <strong>休館日</strong><br>
                
                <br><br>
                <strong>TEL</strong><br>
                042-581-2125
                <br><br>
                <strong>交通案内</strong><br>
                JR中央線日野駅より徒歩 約5分<br>
                <a href="https://hinodaisyoji.com/" target="_blank" rel="noopener noreferrer">公式ホームページはこちら</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
