{% extends "base.html" %}

{% block title %}ビンゴスポット{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/spot.css">
<div class="main">
    <div class="container">
        <div class="title">日野八坂神社</div>

        <img class="additional-image" src="/static/images/image2.png" alt="Additional Image">

        <div class="content-section">
            <p class="text">
                日野八坂神社は、新選組副長・土方歳三が幼少期に遊んだと伝えられる由緒ある神社で、地元の守り神として古くから崇拝されています。毎年夏に開催される「日野八坂祭」は、地域の伝統行事として多くの人々に親しまれており、歴史と地域のつながりを感じられるスポットです。
                <br><br>
                <strong>営業時間</strong><br>
                9:00~16:00
                <br><br>
                <strong>休館日</strong><br>
                <br><br>
                <strong>QRコード設置場所</strong><br>
                <img class="additional-image" src="/static/images/QRspot_2.png" alt="Additional Image">
                <br><br>
                <strong>TEL</strong><br>
                042-581-1175
                <br><br>
                <strong>交通案内</strong><br>
                JR中央線日野駅より徒歩 約5分<br>
                <a href="http://www.tokyo-jinjacho.or.jp/minamitama/hino/5933/" target="_blank" rel="noopener noreferrer">公式ホームページはこちら</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
