{% extends "base.html" %}

{% block title %}ビンゴスポット{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/spot.css">
<div class="main">
    <div class="container">
        <div class="title">とんがらし地蔵</div>

        <img class="image-section" src="https://via.placeholder.com/395x248" alt="Main Image">

        <div class="content-section">
            <p class="text">
                とんがらし地蔵は、赤唐辛子を供えて眼病平癒を祈願する風習が伝わる、日野市の歴史あるお地蔵様です。古くから目の病に悩む人々の信仰を集めており、赤唐辛子を供えることでご利益があるとされています。ユニークな風習と共に、地元の人々に大切にされてきた癒しのスポットです。
                <br><br>
                <strong>営業時間</strong><br>
                常時開放
                <br><br>
                <strong>休館日</strong><br>
                
                <br><br>
                <strong>TEL</strong><br>
                042-581-2630
                <br><br>
                <strong>交通案内</strong><br>
                JR中央線日野駅より徒歩　約6分<br>
                <!-- <a href="https://www.city.hino.lg.jp/shinsenr/" target="_blank" rel="noopener noreferrer">日野市公式ホームページはこちら</a> -->
            </p>
        </div>
    </div>
</div>
{% endblock %}
