{% extends "base.html" %}

{% block title %}ビンゴスポット{% endblock %}

{% block content %}
<div class="main">
    <div class="container">
        <div class="title">八坂神社</div>

    <img class="image-section" src="https://via.placeholder.com/395x248" alt="Main Image">

    <div class="content-section">
        <p class="text">
            「日野宿本陣」は日野の名主を務め、土方歳三の義兄・従兄で新選組の支援者としても知られる佐藤彦五郎の旧宅。近藤勇、土方歳三、井上源三郎らも訪れた新選組ゆかりの建物です。都内に残る唯一の街道の本陣建築でもあり、東京都の史跡にも指定されています。
            <br><br>
            <strong>公開時間</strong><br>
            データベースから「午前9時30分から午後5時（最終入館午後4時30分）」
            <br><br>
            <strong>休館日</strong><br>
            データベースから[曜日、年末年始<br>※月曜が祝日の場合は、翌日（例えば9月18日は開館して19日が休館です。）]

            <br><br>
            <strong>交通案内</strong><br>
            データベースから（JR中央線日野駅より徒歩10分）<br>
            <a class="link" href="#">→Googleマップへ(リンク先データベース)</a>
        </p>
    </div>
</div>
{% endblock %}

