<!-- templates/login.html -->
<!DOCTYPE html>
<html>
<body>
    <h2>Login</h2>
    <form method="post" action="/login">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <input type="submit" value="Login">
    </form>
    <p>新規登録はこちら</p>
    <form action="/add" method="get">
        <input type="submit" value="新規登録">
    </form>
    <p>退会はこちら</p>
    <form action="/deleate" method="get">
        <input type="submit" value="登録を消す">
    </form>
</body>
</html>