<!DOCTYPE html>
<html lang="ja">
<head>
  <title>ビンゴページ</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/css/styles.css">
  <!-- スマホに対応 -->
  <meta name="viewport" content="width=device-width">
</head>
<body>
  <header class="Header">
    <a href="/top">
      <img src="/static/images/tamabingo.png" alt="error" class="resized-image">
    </a>
    <button id="popupButton">メニューを開く</button>
    <div id="popupWindow" class="popup">
      <div class="popup-content">
        <span class="close">&times;</span>
        <ul>
          <li><a href="/top">トップページ</a></li>
          <li><a href="/bingo">ビンゴページ</a></li>
          <li><a href="/coupon">クーポン交換ページ</a></li>
          <li><a href="/account">アカウントページ</a></li>
        </ul>
      </div>
    </div>
  </header>

 
  
  <footer class="Footer">
    <img src="/static/images/QRsample.png" alt="error">
  </footer>
  
  <div class="main">
    <h2>ここはトップページです</h2>
  </div>

  <script src="/static/js/script.js"></script>
</body>
</html>
